body {
    background-color: dodgerblue;
    color:white;
}

h1,h3 {
    text-align: center;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listStyle {
    margin:5px;
}

.recipe {
    font-size: 36px;
}

input {
    border-radius: 10px;
    font-size: 50px;
    text-align: center;

}
.recipeMed {
  font-size: 30px;
  color: #FCD652;
}

.foodPic {
    width: 30%;
    height:auto;
    text-align: center;
}

.inputBox{
    text-align: center;
    margin:10px auto 50px auto;

}

.center {
    text-align: center;
    margin:10px;
}

.centerHeader {
    text-align: center;
    margin-top: 200px;
}


.recipeStyle {
    margin:auto;
    text-align: center;
}
